<!doctype html>
<html lang='{{ @site.locale }}'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <title>{{ meta_title }}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  {{> fonts }}
  {{> compiled/inline-css }}
  {{> dark-mode-js }}

  <script>
    var site_url                            = '{{ @site.url }}',
        pagination_next_page_number         = '{{ pagination.next }}',
        pagination_available_pages_number   = '{{ pagination.pages }}',
        pagination_loading_text             = '{{t "Loading" }}',
        pagination_more_posts_text          = '{{t "More Posts" }}',
        clipboard_copied_text               = '{{t "Link copied to clipboard" }}';
  </script>

  {{ ghost_head }}
</head>
<body class='{{ body_class }}'>

  <div class='c-site-container'>
    {{> header }}

    {{{ body }}}

    {{> footer}}
  </div>

  <script src='{{ asset 'js/app.min.js' }}'></script>
  <script>
    let navItems = document.querySelectorAll('.c-nav li')
    var prevItem
    var subItems = [];
    for (var i = 0; i < navItems.length; i++) {
      let item = navItems[i]
      let label = item.children[0].innerHTML
      if (label.indexOf('--') == 0) {
        subItems.push({
          link: item.innerHTML,
          classes: item.classList
        })
      } else {
        if (subItems.length > 0) {
          // Append list to previous item
          let subNavHTML = '<span class="nav-trigger">▼</span><ul class="nav">'
          for (var j = 0; j < subItems.length; j++) {
            subNavHTML += '<li class="' + subItems[j].classes + '">' + subItems[j].link.replace('-- ', '') + '</li>'
          }

          subNavHTML += '</ul>'
          prevItem.innerHTML += subNavHTML
          prevItem.classList.remove('nav-current')
          prevItem.classList.add('subnav')
          prevItem.classList.add('nav-wrapper')

        }
        // Reset
        prevItem = item
        subItems = []
      }
    }
    navItems.forEach(nav => {
      var subMenuItem = nav.textContent.includes('--')

      if(subMenuItem){
        nav.remove()
      }    
    })

    var footerNavItem = document.querySelectorAll('.footer-menu a')
    footerNavItem.forEach(nav => {
      if(nav.textContent.includes('--')){
        var subItemsText = nav.textContent.split('-- ')[1]
        nav.textContent = subItemsText
      }
    })
  </script>
  {{ ghost_foot }}
</body>
</html>